<ion-content [fullscreen]="true">

  <!-- <ion-row>
    <ion-col size="4"><p>Cargo</p></ion-col>
    <ion-col size="2"><ion-checkbox>Nome</ion-checkbox></ion-col>
    <ion-col size="2"><ion-checkbox>Cargo</ion-checkbox></ion-col>
    <ion-col size="2"><ion-checkbox>Cidade</ion-checkbox></ion-col>
    <ion-col size="2"><ion-checkbox>Telefone</ion-checkbox></ion-col>
  </ion-row> -->
  <ion-header>   
    <ion-toolbar>
    <ion-row>
      <ion-col size="11">
        <ion-checkbox class="box" (ionChange)="consultar($event)" value="Cargo">Cargo</ion-checkbox>
        <ion-checkbox class="box" (ionChange)="consultar($event)" value="Nome">Nome</ion-checkbox>
        <ion-checkbox class="box" (ionChange)="consultar($event)" value="Telefone">Telefone</ion-checkbox>
        <ion-checkbox class="box" (ionChange)="consultar($event)" value="Cidade">Cidade</ion-checkbox>
      </ion-col>
      <ion-col size="1">
        <ion-button expand="block" (click)="modalInserir()"><ion-icon name="add-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
    <ion-modal [isOpen]="isModalOpening">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Inserir Funcionario</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpening(false)">Cancelar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-row class="ion-justify-content-center">
            <ion-col size="12">
              <form #inserirForm="ngForm" (ngSubmit)="inserir(inserirForm.value)">
                <ion-item>
                  <ion-input label="Nome" label-placement="floating" ngModel name="Nome" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Sobrenome" label-placement="floating" placeholder="Digite o Sobrenome" ngModel name="Sobrenome" type="text"></ion-input> 
                </ion-item>
                  <ion-item>                 
                  <ion-input label="Cargo" label-placement="floating" placeholder="Digite o Cargo" ngModel name="Cargo" type="text"></ion-input>
                </ion-item> 
                  <ion-item>
                  <ion-input label="Data de Nascimento" label-placement="floating" ngModel name="DataNasc" type="date"></ion-input>
                </ion-item>
                  <ion-item>
                  <ion-input label="Endereço" label-placement="floating" placeholder="Digite o Endereço" ngModel name="Endereco" type="text"></ion-input>
                </ion-item>
                  <ion-item>
                  <ion-input label="Cidade" label-placement="floating" placeholder="Digite o Cidade" ngModel name="Cidade" type="text"></ion-input>
                </ion-item>
                  <ion-item>
                  <ion-input label="Cep" label-placement="floating" placeholder="Digite o Cep" ngModel name="Cep" type="text"></ion-input>
                </ion-item>
                  <ion-item>
                  <ion-input label="Pais" label-placement="floating" placeholder="Digite o Pais" ngModel name="Pais" type="text"></ion-input>
                </ion-item>
                  <ion-item>
                  <ion-input label="Fone" label-placement="floating" placeholder="Digite o Telefone" ngModel name="Fone" type="text"></ion-input>
                </ion-item>
                  <ion-item>
                  <ion-input label="Salário" label-placement="floating" placeholder="Digite o Salario" ngModel name="Salario" type="text"></ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-button color="light" slot="end" type="submit">Inserir</ion-button>
                </ion-item>
              </form>
            </ion-col>
          </ion-row>
        </ion-content>
      </ng-template>
    </ion-modal>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Atualizar Funcionarios</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Cancelar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-row class="ion-justify-content-center">
            <ion-col size="12">
              <form #atualizarForm="ngForm" (ngSubmit)="atualizar(atualizarForm.value)">
                <ion-item>
                  <ion-input label="Nome" label-placement="floating" ngModel name="Nome" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Sobrenome" label-placement="floating" placeholder="Digite o Sobrenome" ngModel name="Sobrenome" type="text"></ion-input> 
                </ion-item>
                  <ion-item>                 
                  <ion-input label="Cargo" label-placement="floating" placeholder="Digite o Cargo" ngModel name="Cargo" type="text"></ion-input>
                </ion-item> 
                  <ion-item>
                  <ion-input label="Data de Nascimento" label-placement="floating" ngModel name="DataNasc" type="date"></ion-input>
                </ion-item>
                  <ion-item>
                  <ion-input label="Endereço" label-placement="floating" placeholder="Digite o Endereço" ngModel name="Endereco" type="text"></ion-input>
                </ion-item>
                  <ion-item>
                  <ion-input label="Cidade" label-placement="floating" placeholder="Digite o Cidade" ngModel name="Cidade" type="text"></ion-input>
                </ion-item>
                  <ion-item>
                  <ion-input label="Cep" label-placement="floating" placeholder="Digite o Cep" ngModel name="Cep" type="text"></ion-input>
                </ion-item>
                  <ion-item>
                  <ion-input label="Pais" label-placement="floating" placeholder="Digite o Pais" ngModel name="Pais" type="text"></ion-input>
                </ion-item>
                  <ion-item>
                  <ion-input label="Fone" label-placement="floating" placeholder="Digite o Telefone" ngModel name="Fone" type="text"></ion-input>
                </ion-item>
                  <ion-item>
                  <ion-input label="Salário" label-placement="floating" placeholder="Digite o Salario" ngModel name="Salario" type="text"></ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-button color="light" slot="end" type="submit">Atualizar</ion-button>
                </ion-item>
              </form>
            </ion-col>
          </ion-row>
        </ion-content>
      </ng-template>
    </ion-modal>



  <ion-row>
    <ion-col>
      <ion-list>
        <ng-container *ngFor="let funcionario of this.funcionarios">
          <ion-title>Dados do Funcionario</ion-title>
          <ion-item>
            <ion-label class="dados"> Nome: {{ funcionario.Nome }} {{ funcionario.Sobrenome }} <br>Cargo : {{ funcionario.Cargo }} <br>Data de Nascimento: {{ funcionario.DataNasc }} <br>Endereço: {{ funcionario.Endereco}} <br>Cidade: {{ funcionario.Cidade }} <br> Cep: {{ funcionario.CEP }} <br>País: {{ funcionario.Pais }} <br>Telefone: {{ funcionario.Fone }} <br>Salário: {{ funcionario.Salario }}</ion-label>
            <ion-button (click)="remover(funcionario.CodFun)"><ion-icon name='trash'></ion-icon></ion-button>
            <ion-button expand="block" (click)="abrirModalAtualizar(funcionario.CodFun)"><ion-icon name="pencil-outline"></ion-icon></ion-button>
          </ion-item>
          <hr class="line">
        </ng-container>
      </ion-list> 
    </ion-col>
  </ion-row>
  <style>
    .line{
      border: 1.5px solid grey;
      background-color: grey;
    }
    .box{
      margin: 10px;
    }
  </style>
</ion-content>