<ion-content [fullscreen]="true">

  <!-- <ion-row>
    <ion-col size="4"><p>Cargo</p></ion-col>
    <ion-col size="2"><ion-checkbox>Nome</ion-checkbox></ion-col>
    <ion-col size="2"><ion-checkbox>Cargo</ion-checkbox></ion-col>
    <ion-col size="2"><ion-checkbox>Cidade</ion-checkbox></ion-col>
    <ion-col size="2"><ion-checkbox>Telefone</ion-checkbox></ion-col>
  </ion-row> -->
  <ion-header>
    <ion-toolbar>
      <ion-title>Inline Modal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Atualizar Funcionarios</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Cancelar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-row class="ion-justify-content-center">
            <ion-col size="12">
              <form #atualizarForm="ngForm" (ngSubmit)="atualizar(atualizarForm.value)">
                <ion-item>
                  <ion-input label="Nome" label-placement="floating" placeholder="Digite o Nome" ngModel name="Nome" type="text"></ion-input>
                  <ion-input label="Sobrenome" label-placement="floating" placeholder="Digite o Sobrenome" ngModel name="Nome" type="text"></ion-input>
                </ion-item>
                <ion-item>
                </ion-item>
                <ion-item lines="none">
                  <ion-button color="light" slot="end" type="submit">Atualizar</ion-button>
                </ion-item>
              </form>
            </ion-col>
          </ion-row>
        </ion-content>
      </ng-template>
    </ion-modal>



  <ion-row>
    <ion-col>
      <ion-list>
        <ng-container *ngFor="let funcionario of this.funcionarios">
          <ion-item>
            <ion-label> Nome do Funcionario: {{ funcionario.Nome }} {{ funcionario.Sobrenome }}</ion-label>
            <ion-button (click)="remover(funcionario.CodFun)"><ion-icon name='trash'></ion-icon></ion-button>
            <ion-button expand="block" (click)="abrirModalAtualizar(funcionario.CodFun)"><ion-icon name="pencil-outline"></ion-icon></ion-button>
          </ion-item>
        </ng-container>
      </ion-list> 
    </ion-col>
  </ion-row>
</ion-content>